/* HTML */
body, html {
	overflow:hidden;
	margin:0;
	padding:0;
	font-family: Helvetica;
	width:100%;
	height:100%;
}

/* Countdown */
#countdownContainer{
	margin: auto;
	height:100%;
	color:#FFF;
	font-size:64px;
	text-align:center;
	display:table;
	position:relative;
}
#countdown{
    margin:0 auto;
	width:288;
	display: table-cell;
    vertical-align: bottom;
    padding: 50px;
}
.countdownNumber{
	display:inline-block;
	width:100px;
	font-size: 80px;
}
.countdownNote{
	font-size:24px;
}
#footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	margin: auto;
	width: 98%;
}
#footer p{
	color: white;
	font-size: 0.6em;
}

@media screen and (max-width: 640px) {
.countdownNumber{
	width:70px;
	font-size: 60px;
}

@media screen and (max-width: 480px) {
.countdownNote{
	font-size:12px;
}
.countdownNumber{
	width:60px;
	font-size: 40px;
}